*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}
 html,body{
 height: 100%;
 width: 100%;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
}
h1{
    width: fit-content;
    background-color: rgb(245, 245, 245);
    padding: 10px 80px;
    margin: 20px;
    font-size: 100px;
    border-radius:10px ;
}